.navbar-custom {
    background-color: #FFB88C;
    color: white;
}
/* nav .navbar-nav li a{
    color: white !important;
    } */
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: blue;
}
.navbar-custom .nav-item .nav-link{
    color: white;
    font-size: x-large;
}